services:

  # # -----------------------------------------------------------------------------
  # # Frontend: Vite APP
  # # -----------------------------------------------------------------------------

  frontend:
    image: vite:latest
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: frontend.dockerfile
    environment:
      NODE_ENV: production
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    ports:
      - 3000:3000

  # -----------------------------------------------------------------------------
  # Ollama Machine Learning Model Local API
  # -----------------------------------------------------------------------------

  ollama:
    build:
      context: ./LLM
      dockerfile: ollama.dockerfile
    container_name: ollama
    image: ollama:latest
    volumes:
      - ollama:/root/.ollama
    networks:
      - project_network
    restart: unless-stopped


  # -----------------------------------------------------------------------------
  # Lógica Base de Datos RELACIONAL (PostgreSQL)
  # -----------------------------------------------------------------------------
  backend:
    build:
      context: ./backend
      dockerfile: backend.dockerfile
    container_name: backend
    image: backend:latest
    ports:
      - 8000:8000
    depends_on:
      - db
    networks:
      - project_network
    env_file:
      - ./backend/database/.env
    restart: always

  # -----------------------------------------------------------------------------
  # Servicio Base de Datos RELACIONAL (PostgreSQL)
  # -----------------------------------------------------------------------------
  db:
    container_name: relational_db
    image: postgres:latest
    env_file:
      - ./backend/database/.env
    volumes:
      - relational_db:/var/lib/postgresql/data
    networks:
      - project_network
    restart: always

  # -----------------------------------------------------------------------------
  # Lógica Retriever (PostgreSQL Vectorial)
  # -----------------------------------------------------------------------------
  augment:
    build:
      context: ./augment
      dockerfile: Dockerfile
    container_name: augment
    image: augment:latest
    depends_on:
      - retriever
    networks:
      - project_network
    volumes:
      - augment:/var/lib/augment/data
    restart: always

  # -----------------------------------------------------------------------------
  # Lógica Retriever (PostgreSQL Vectorial)
  # -----------------------------------------------------------------------------
  retriever:
    build:
      context: ./retriever
      dockerfile: Dockerfile
    container_name: retriever
    image: retriever:latest
    depends_on:
      - vectorial_db
    networks:
      - project_network
    volumes:
      - retriever:/var/lib/retriever/data
    restart: always

  # -----------------------------------------------------------------------------
  # Servicio Base de Datos VECTORIAL (PostgreSQL)
  # -----------------------------------------------------------------------------
  vectorial_db:
    build:
      context: ./vectorial_db
      dockerfile: Dockerfile
    container_name: vectorial_db  
    image: vectorial_db:latest
    env_file:
      - ./vectorial_db/.env
    volumes:
      - vectorial_db:/var/lib/postgresql/data
    networks:
      - project_network

# -----------------------------------------------------------------------------
# Chunking
# -----------------------------------------------------------------------------
  chunking:
    build:
      context: ./chunking
      dockerfile: chunking.dockerfile
    container_name: chunking_service
    image: chunking:latest
    networks:
      - project_network

# -----------------------------------------------------------------------------
# Embeddings
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# 1
# -----------------------------------------------------------------------------
  embeddings1:
    build:
      context: ./embeddings
      dockerfile: embedings.dockerfile  
    container_name: embeddings_service_1
    image: embeddings1:latest
    depends_on:
      - vectorial_db
    networks:
      - project_network

# -----------------------------------------------------------------------------
# 2
# # -----------------------------------------------------------------------------
  embeddings2:
    build:
      context: ./embeddings
      dockerfile: embedings.dockerfile  
    container_name: embeddings_service_2
    image: embeddings2:latest
    depends_on:
      - vectorial_db
    networks:
      - project_network


# -----------------------------------------------------------------------------
# NETWORKS & VOLUMES
# -----------------------------------------------------------------------------

networks:
  project_network:
    driver: bridge

volumes:
  vectorial_db:
    driver: local
  relational_db:
    driver: local
  ollama:
    driver: local
  frontend:
    driver: local
  retriever:
    driver: local
  augment:
    driver: local
    